<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.citech.vanka.cambridge">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/CitTheme">
        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".MainDept" />
        <activity android:name=".About" />
        <activity android:name=".MainFac" />
        <activity android:name=".Contact" />
        <activity android:name=".Dev" />
        <activity android:name=".Subclass.DeptCse" />
        <activity android:name=".Subclass.DeptEce" />
        <activity android:name=".Subclass.DeptEee" />
        <activity android:name=".Subclass.DeptIse" />
        <activity android:name=".Subclass.DeptMec" />
        <activity android:name=".Subclass.DeptCiv" />
        <activity android:name=".Subclass.DeptPcse" />
        <activity android:name=".Subclass.DeptPcne" />
        <activity android:name=".Subclass.DeptPsip" />
        <activity android:name=".Subclass.DeptPmca" />
        <activity android:name=".Subclass.DeptPmba" />
        <activity android:name=".Subclass.DeptPmed" />
        <activity android:name=".Subclass.FacCse" />
        <activity android:name=".Subclass.FacEce" />
        <activity android:name=".Subclass.FacEee" />
        <activity android:name=".Subclass.FacIse" />
        <activity android:name=".Subclass.FacMec" />
        <activity android:name=".Subclass.FacCiv" />
        <activity android:name=".Subclass.FacBas" />
        <activity android:name=".Subclass.FacMca" />
        <activity android:name=".Subclass.FacMba" />
        <activity android:name=".Achieve" />
        <activity android:name=".Rad" />
        <activity android:name=".Gallery"></activity>
    </application>
</manifest>